{% extends 'index.html' %}
        
{% block stylesheets %}
    {{super()}}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/card.css') }}">
{% endblock %}

{% block content %}
    <h2 class="h2">Nuestros Productos</h2>
    <div class="cards-container">
        {% for data in dataset %}
            <div class="card">
                <img src="{{ data.picture }}" alt="Imagen del producto">
                <div class="card-body">
                    <h5 class="card-title">{{ data.product }}</h5>
                    <p class="card-text">{{ data.category }}</p>
                    <p class="card-text">Stock: {{ data.stock }}</p>
                    <p class="card-text">Precio: S/.{{ data.price }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
